* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }

  .image-container{
      display: flex;
      justify-content: space-around;
      height: 420px;
      width: 600px;
  }

  .image-container img {
      height: 75%;
      width: auto;
      max-height: 100%;
      margin: auto;
  }

  .current-image {
      text-align: center;
  }
  
  .answer-list {
    display: inline-table;
    list-style: none;
    padding-left: 0;
  }
  
  .answer-list > li {
    display: inline-grid;
    width: 50%;
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 5px;
  }
  
  .answer {
    display: block;
    color: grey;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
